In [7]:
import pandas as pd

In [8]:
df=pd.read_excel("/Users/sheetallalwani/Desktop/forage/QVI_transaction_data.xlsx")

In [10]:
df.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0
1,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,43329,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
4,43330,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8

In [11]:


# Convert Excel serial date (43390) to datetime
df['DATE'] = pd.to_datetime(df['DATE'], origin='1899-12-30', unit='D')

# Format as d/m/y (e.g., 25/10/2018)
df['DATE'] = df['DATE'].dt.strftime('%d/%m/%Y')

print(df['DATE'])

0         17/10/2018
1         14/05/2019
2         20/05/2019
3         17/08/2018
4         18/08/2018
             ...
264831    09/03/2019
264832    13/08/2018
264833    06/11/2018
264834    27/12/2018
264835    22/09/2018
Name: DATE, Length: 264836, dtype: object

In [14]:
df['GRAM'] = df['PROD_NAME'].str.extract(r'(\d+)[gG]')[0].astype(int)

In [15]:
df.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,GRAM
0,17/10/2018,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0,175
1,14/05/2019,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3,175
2,20/05/2019,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9,170
3,17/08/2018,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0,175
4,18/08/2018,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8,150

In [16]:
df.head(20)

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,GRAM
0,17/10/2018,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0,175
1,14/05/2019,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3,175
2,20/05/2019,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9,170
3,17/08/2018,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0,175
4,18/08/2018,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8,150
5,19/05/2019,4,4074,2982,57,Old El Paso Salsa Dip Tomato Mild 300g,1,5.1,300
6,16/05/2019,4,4149,3333,16,Smiths Crinkle Chips Salt & Vinegar 330g,1,5.7,330
7,16/05/2019,4,4196,3539,24,Grain Waves Sweet Chilli 210g,1,3.6,210
8,20/08/2018,5,5026,4525,42,Doritos Corn Chip Mexican Jalapeno 150g,1,3.9,150
9,18/08/2018,7,7150,6900,52,Grain Waves Sour Cream&Chives 210G,2,7.2,210
10,17/05/2019,7,7215,7176,16,Smiths Crinkle Chips Salt & Vinegar 330g,1,5.7,330
11,20/08/2018,8,8294,8221,114,Kettle Sensations Siracha Lime 150g,5,23.0,150
12,18/05/2019,9,9208,8634,15,Twisties Cheese 270g,2,9.2,270
13,17/08/2018,13,13213,12447,92,WW Crinkle Cut Chicken 175g,1,1.7,175
14,15/05/2019,19,19272,16686,44,Thins Chips Light& Tangy 175g,1,3.3,175
15,19/05/2019,20,20164,17136,54,CCs Original 175g,1,2.1,175
16,18/08/2018,20,20418,17413,94,Burger Rings 220g,4,9.2,220
17,14/08/2018,22,22411,18646,98,NCC Sour Cream & Garden Chives 175g,1,3.0,175
18,17/08/2018,22,22456,18696,93,Doritos Corn Chip Southern Chicken 150g,1,3.9,150
19,16/05/2019,23,23067,19162,56,Cheezels Cheese Box 125g,1,2.1,125

In [17]:
df2=pd.read_csv("/Users/sheetallalwani/Desktop/forage/QVI_purchase_behaviour.csv")

In [18]:
df2.head()

   LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
0            1000   YOUNG SINGLES/COUPLES          Premium
1            1002   YOUNG SINGLES/COUPLES       Mainstream
2            1003          YOUNG FAMILIES           Budget
3            1004   OLDER SINGLES/COUPLES       Mainstream
4            1005  MIDAGE SINGLES/COUPLES       Mainstream

In [20]:
df3 = pd.merge(df, df2, on='LYLTY_CARD_NBR', how='left')

In [22]:
df3.head(20)

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,GRAM,LIFESTAGE,PREMIUM_CUSTOMER
0,17/10/2018,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0,175,YOUNG SINGLES/COUPLES,Premium
1,14/05/2019,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3,175,MIDAGE SINGLES/COUPLES,Budget
2,20/05/2019,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9,170,MIDAGE SINGLES/COUPLES,Budget
3,17/08/2018,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0,175,MIDAGE SINGLES/COUPLES,Budget
4,18/08/2018,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8,150,MIDAGE SINGLES/COUPLES,Budget
5,19/05/2019,4,4074,2982,57,Old El Paso Salsa Dip Tomato Mild 300g,1,5.1,300,MIDAGE SINGLES/COUPLES,Budget
6,16/05/2019,4,4149,3333,16,Smiths Crinkle Chips Salt & Vinegar 330g,1,5.7,330,MIDAGE SINGLES/COUPLES,Budget
7,16/05/2019,4,4196,3539,24,Grain Waves Sweet Chilli 210g,1,3.6,210,MIDAGE SINGLES/COUPLES,Budget
8,20/08/2018,5,5026,4525,42,Doritos Corn Chip Mexican Jalapeno 150g,1,3.9,150,MIDAGE SINGLES/COUPLES,Budget
9,18/08/2018,7,7150,6900,52,Grain Waves Sour Cream&Chives 210G,2,7.2,210,MIDAGE SINGLES/COUPLES,Budget
10,17/05/2019,7,7215,7176,16,Smiths Crinkle Chips Salt & Vinegar 330g,1,5.7,330,MIDAGE SINGLES/COUPLES,Budget
11,20/08/2018,8,8294,8221,114,Kettle Sensations Siracha Lime 150g,5,23.0,150,MIDAGE SINGLES/COUPLES,Budget
12,18/05/2019,9,9208,8634,15,Twisties Cheese 270g,2,9.2,270,MIDAGE SINGLES/COUPLES,Budget
13,17/08/2018,13,13213,12447,92,WW Crinkle Cut Chicken 175g,1,1.7,175,MIDAGE SINGLES/COUPLES,Budget
14,15/05/2019,19,19272,16686,44,Thins Chips Light& Tangy 175g,1,3.3,175,MIDAGE SINGLES/COUPLES,Budget
15,19/05/2019,20,20164,17136,54,CCs Original 175g,1,2.1,175,MIDAGE SINGLES/COUPLES,Budget
16,18/08/2018,20,20418,17413,94,Burger Rings 220g,4,9.2,220,MIDAGE SINGLES/COUPLES,Budget
17,14/08/2018,22,22411,18646,98,NCC Sour Cream & Garden Chives 175g,1,3.0,175,MIDAGE SINGLES/COUPLES,Budget
18,17/08/2018,22,22456,18696,93,Doritos Corn Chip Southern Chicken 150g,1,3.9,150,MIDAGE SINGLES/COUPLES,Budget
19,16/05/2019,23,23067,19162,56,Cheezels Cheese Box 125g,1,2.1,125,MIDAGE SINGLES/COUPLES,Budget

In [26]:
print(df3.isnull().sum())

DATE                0
STORE_NBR           0
LYLTY_CARD_NBR      0
TXN_ID              0
PROD_NBR            0
PROD_NAME           0
PROD_QTY            0
TOT_SALES           0
GRAM                0
LIFESTAGE           0
PREMIUM_CUSTOMER    0
dtype: int64

In [36]:
print(df3['STORE_NBR'].nunique())

272

In [37]:
###Creating engine

In [ ]:
from sqlalchemy import create_engine

In [40]:
engine = create_engine('mysql+pymysql://root:sheetalmysql@localhost:3306/chips')

In [41]:
try:
    connection = engine.connect()
    print("✓ Connected to MySQL!")
    connection.close()
except Exception as e:
    print(f"✗ Connection failed: {e}")

✓ Connected to MySQL!

In [44]:
# Upload data to MySQL
print("Uploading data to MySQL...")
df3.to_sql(
    name='sales_data',
    con=engine,
    if_exists='replace',
    index=False
)

Uploading data to MySQL...

264836